<a href="https://colab.research.google.com/github/noviannurrohman/TeknologiData-smt6/blob/main/week4_1841720095_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df= pd.read_excel('/content/drive/MyDrive/TDATA/OnlineRetail.xlsx')
df.info()
print(df.isnull().any())
print(df.isnull().sum())
print(df[df['Description'].isnull()].head())
print(df[df['CustomerID'].isnull()].head())

dfcleaned = df.dropna(axis=0)

print('df: ', len(df), '|', 'dfcleaned: ', len(dfcleaned))
print('df - dfcleaned = ' , len(df)-len(dfcleaned))

print(dfcleaned[dfcleaned['UnitPrice']<=0.0].head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207719 entries, 0 to 207718
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    207719 non-null  object
 1   StockCode    207719 non-null  object
 2   Description  206886 non-null  object
 3   Quantity     207719 non-null  int64
 4   InvoiceDate  207719 non-null  datetime64[ns]
 5   UnitPrice    207719 non-null  float64
 6   CustomerID   148101 non-null  float64
 7   Country      207719 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 12.7+ MB
InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool
InvoiceNo          0
StockCode          0
Description      833
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     59618
Country            0
dtype: int64
     InvoiceNo StockCode Description  ...  UnitPrice CustomerID         Country
622     536414     22139         NaN  ...        0.0        NaN  United Kingdom
1970    536545     21134         NaN  ...        0.0        NaN  United Kingdom
1971    536546     22145         NaN  ...        0.0        NaN  United Kingdom
1972    536547     37509         NaN  ...        0.0        NaN  United Kingdom
1987    536549    85226A         NaN  ...        0.0        NaN  United Kingdom

[5 rows x 8 columns]
     InvoiceNo StockCode  ... CustomerID         Country
622     536414     22139  ...        NaN  United Kingdom
1443    536544     21773  ...        NaN  United Kingdom
1444    536544     21774  ...        NaN  United Kingdom
1445    536544     21786  ...        NaN  United Kingdom
1446    536544     21787  ...        NaN  United Kingdom

[5 rows x 8 columns]
df:  207719 | dfcleaned:  148101
df - dfcleaned =  59618
      InvoiceNo StockCode  ... CustomerID         Country
9302     537197     22841  ...    12647.0         Germany
33576    539263     22580  ...    16560.0  United Kingdom
40089    539722     22423  ...    14911.0            EIRE
47068    540372     22090  ...    13081.0  United Kingdom
47070    540372     22553  ...    13081.0  United Kingdom

[5 rows x 8 columns]