<a href="https://colab.research.google.com/github/noviannurrohman/TeknologiData-smt6/blob/main/week4_1841720095_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/TDATA/flight_delays.csv', index_col = "Month")
df.info()
print(df.head())
print(df.tail())
print(df.isnull().sum())
print(df[df['US'].isnull()])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 1 to 12
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AA      12 non-null     float64
 1   AS      12 non-null     float64
 2   B6      12 non-null     float64
 3   DL      12 non-null     float64
 4   EV      12 non-null     float64
 5   F9      12 non-null     float64
 6   HA      12 non-null     float64
 7   MQ      12 non-null     float64
 8   NK      12 non-null     float64
 9   OO      12 non-null     float64
 10  UA      12 non-null     float64
 11  US      6 non-null      float64
 12  VX      12 non-null     float64
 13  WN      12 non-null     float64
dtypes: float64(14)
memory usage: 1.4 KB
             AA        AS         B6  ...        US        VX        WN
Month                                 ...
1      6.955843 -0.320888   7.347281  ...  3.107457  1.420702  3.389466
2      7.530204 -0.782923  18.657673  ...  7.114455  7.784410  3.501363
3      6.693587 -0.544731  10.741317  ...  3.330787  5.348207  3.263341
4      4.931778 -3.009003   2.780105  ...  2.660290  0.995507  2.996399
5      5.173878 -1.716398  -0.709019  ...  0.681605  7.102021  5.680777

[5 rows x 14 columns]
             AA        AS         B6  ...  US         VX        WN
Month                                 ...
8      3.193907  2.503899   9.280950  ... NaN   5.106221  5.532108
9     -1.432732 -1.813800   3.539154  ... NaN   0.070998 -1.336260
10    -0.580930 -2.993617   3.676787  ... NaN   2.254278 -0.688851
11     0.772630 -1.916516   1.418299  ... NaN   0.116370  0.995684
12     4.149684 -1.846681  13.839290  ... NaN  13.498720  6.720893

[5 rows x 14 columns]
AA    0
AS    0
B6    0
DL    0
EV    0
F9    0
HA    0
MQ    0
NK    0
OO    0
UA    0
US    6
VX    0
WN    0
dtype: int64
             AA        AS         B6  ...  US         VX         WN
Month                                 ...
7      3.870440  0.377408   5.841454  ... NaN   7.135773  10.504942
8      3.193907  2.503899   9.280950  ... NaN   5.106221   5.532108
9     -1.432732 -1.813800   3.539154  ... NaN   0.070998  -1.336260
10    -0.580930 -2.993617   3.676787  ... NaN   2.254278  -0.688851
11     0.772630 -1.916516   1.418299  ... NaN   0.116370   0.995684
12     4.149684 -1.846681  13.839290  ... NaN  13.498720   6.720893

[6 rows x 14 columns]